@import url("https://fonts.googleapis.com/css?family=Miriam+Libre");
@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
.hero-btn {
  border: 3px solid #fff;
  text-transform: uppercase;
  transition: ease-in-out 250ms;
  font-size: 26px;
  color: #fff; }
  .hero-btn:hover {
    background-color: #fff;
    color: #797e83;
    border-style: dotted;
    transform: rotateX(15deg); }

.home-hero {
  background-image: url(https://picsum.photos/2000/2000?image=1068);
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: #FFF;
  background-attachment: fixed; }
  @media (min-width: 320px) {
    .home-hero {
      height: 100vh;
      padding-top: 35vh; } }

.parallax--bg {
  transition: initial; }

header {
  width: 100%;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center; }

.fbar {
  margin: 0 auto;
  width: 90%;
  text-align: center; }

.footer-left {
  float: left;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .footer-left {
      text-align: left;
      width: 50%; } }

.footer-right {
  float: right;
  width: 100%;
  text-align: center; }
  .footer-right p span {
    display: flex;
    flex-direction: column; }
  @media (min-width: 768px) {
    .footer-right {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
      .footer-right p:first-child {
        display: none; }
      .footer-right p span {
        margin-right: 5em; } }

.copyright {
  margin-top: 2em; }

ul {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    ul {
      flex-direction: row;
      flex-wrap: wrap; } }

.card {
  margin: 2em;
  background-color: #fff;
  border-radius: 8px; }
  @media (min-width: 768px) {
    .card {
      margin: 0 auto;
      margin-bottom: 2em;
      width: 48%; } }
  @media (min-width: 992px) {
    .card {
      margin-bottom: 4em;
      width: 30%; } }

.img-container img:hover {
  opacity: 0.5; }

.card .text {
  order: 1;
  margin: 2em 2em; }
  .card .text:hover {
    opacity: 0.5; }

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden; }

.img-container img {
  border-top-right-radius: 8px;
  width: 100%; }

.text small {
  font-size: 1em;
  color: red; }

* {
  list-style: none;
  text-decoration: none; }

body {
  font-family: "Miriam Libre", sans-serif;
  font-weight: 900;
  background-color: #D0EFB1;
  color: #003636;
  /* AAA rating, ratio 10.54 by http://colorsafe.co */ }

h1 {
  font-size: 42px;
  font-weight: 700; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px;
  font-weight: 900; }

p {
  font-size: 1em; }
