@import url(base/_normalize.css);
@import url(base/_skeleton.css);
@import url("https://fonts.googleapis.com/css?family=Miriam+Libre");
@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
header {
  width: 100%;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center; }

.parallax-window {
  min-height: 400px;
  background: transparent; }

.fbar {
  text-align: center; }

.footer-left {
  float: left; }

.footer-right {
  float: right;
  display: flex;
  flex-direction: row; }

.copyright {
  margin-top: 2em; }

ul {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    ul {
      flex-direction: row;
      flex-wrap: wrap; } }

.card {
  margin: 0 auto;
  height: 600px; }
  @media (min-width: 768px) {
    .card {
      width: 30%; } }

.card .text {
  order: 1; }

.card img {
  margin-top: auto;
  width: 300px;
  height: 300px;
  border-radius: 3%; }

* {
  list-style: none;
  text-decoration: none; }

body {
  font-family: "Miriam Libre", sans-serif;
  font-weight: 900;
  background-color: #D0EFB1;
  color: #003636;
  /* AAA rating, ratio 10.54 by http://colorsafe.co */ }

h1 {
  font-size: em(36px); }

h2 {
  font-size: em(24px); }

p {
  font-size: em(20px); }
