// Fonts

$font-url--google--primary    :  'https://fonts.googleapis.com/css?family=Miriam+Libre';
$font-url--google--secondary  :  'https://fonts.googleapis.com/css?family=Asap';
$font-url--icons              :  'https://use.fontawesome.com/releases/v5.3.1/css/all.css';


$font-family-primary    :   "Miriam Libre", sans-serif;
$font-family-secondary  :   "Asap", Helvetica, Arial, sans-serif;

// Font weight

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Font size

$base--font-size : em(16px);
$base--line      : em(24px);

$h1--size        : em(36px);
$h2--size        : em(24px);


//colors


$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;

$color-primary   : #D0EFB1;
$color-secondary : #003636;

$color-accent    : #D0EFB1;
$color-shadow    : rgba($black, .2);




//border radius

$br: 4px;

//grid columns

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;

//breakpoints

$break-sm    : 1px;
$break-md    : 768px;
