.hero-btn {
  border: 3px solid $white;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  transition: ease-in-out 250ms;
  font-size: $h3--size;
  color: $white;
  border-radius: $br;

  &:hover {
    background-color: $white;
    color: $grey;
    border-style:dotted;
    transform: rotateX(15deg);
  }

}


/* Rating Star Widgets Style */
.text-center {text-align:center;}

ul ul {
  margin: 0 auto;
}

.rating-stars {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 10%;

}

.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
  @include mq('med') {
    font-size:2.5em;
  }
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}



/*twitter button*/
#twitter-widget-0 {
  overflow: hidden; //scrolling="no"
  border: 0; //frameborder="0"
  //allowtransparency="true"
}
