.hero-btn {
  border: 3px solid $white;
  text-transform: uppercase;
  transition: ease-in-out 250ms;
  font-size: $h3--size;
  color: $white;

  &:hover {
    background-color: $white;
    color: $grey;
    border-style:dotted;
    transform: rotateX(15deg);
  }

}
