


//container




//header

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 400px;
  background-image: url(https://picsum.photos/1300/400?image=1068);
}


//footer

.fbar {
  text-align: center;
}

.footer-left {
  float: left;
}
.footer-right {
  float: right;
}





//cards

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 auto;
  width: 30%;
}

.card .text {
  order: 1;
}
