


//container

.container {
  @include mq('sm') {

  }
}


//header

header {
  width: 100%;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
  //background-image: url(https://picsum.photos/1300/400?image=1068);
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}


//footer

.fbar {
  text-align: center;
}

.footer-left {
  float: left;

}
.footer-right {
  float: right;
  display: flex;
  flex-direction: row;
}

.copyright {
  margin-top: 2em;
}



//cards

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include mq('med') {
    flex-direction: row;
    flex-wrap: wrap;
  }

}



.card {
  margin: 0 auto;
  height: 600px;


  @include mq('med') {
    width: 30%;
  }

}

.card .text {
  order: 1;
}

.card img {
  margin-top: auto;
  @include roundy(300px);
}
