
* {
    list-style: none;
    text-decoration:none;
}


body {
  font-family: $font-family-primary;
  font-weight: $font-weight--ultra-bold;
  background-color: $color-primary;
  color: $color-secondary; /* AAA rating, ratio 10.54 by http://colorsafe.co */
}

h1 {
  font-size: $h1--size;
  font-weight: $font-weight--bold;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
  font-weight: $font-weight--ultra-bold;
}

p {
  font-size: $p--size;
}
